* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background: black;
}

#frame {
    background-color: black;
    transition: clip-path 0s;
}

.polygon {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: clip-path 1.5s;
}

#yellow {
    background-color: yellow;
}
#yellow_stroke {
    background-color: black;
}
#cyan {
    background-color: cyan;
}
#cyan_stroke {
    background-color: black;
}
#magenta {
    background-color: magenta;
}
#magenta_stroke {
    background-color: black;
}
