@font-face {
    font-family: 'Futura';
    src: url('https://raw.githubusercontent.com/ezequielleonzybert/web/master/typography/futura_extra_black.ttf') format('truetype');
    src: url('typography/futura_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#newfont{
    font-family: 'Futura';
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background: black;
}

#frame {
    background-color: black;
    transition: clip-path 0s;
}

.polygon {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: clip-path 1s, background-position 1s;
}
#yellow{
   cursor: pointer;
   background-image: linear-gradient(rgb(255, 251, 0) 0%,rgb(235, 125, 0) 75%);
   
}
#yellow h2{
    font-family: 'Futura';
    font-size: 1.7em;
    margin: 9% 30%;
    display: flex;
    justify-content: right;
}
#yellow_stroke {
    background-color: black;
}
#cyan {
    cursor: pointer;
    background-image: linear-gradient(45deg, rgb(0, 217, 255) 15%,rgb(64, 123, 163) 75%);
}
#cyan_stroke {
    background-color: black;
}
#magenta {
    cursor: pointer;
    background-image: linear-gradient(-30deg, rgb(255, 0, 255) 0%,rgb(173, 57, 219) 80%);
}
#magenta_stroke {
    background-color: black;
}
